%h1 LMApi - Live Music Archive (unofficial) API

%p
  :textile
    Exposing the bootlegs on "archive.org's Live Music Archive":http://www.archive.org/details/etree

%p More details forthcoming... in the meantime:

%ul
  %li
    :textile
      */artists/ARTIST_NAME* - will get you html information about an artist
      example: "/artists/Smashing%20Pumpkins":/artists/Smashing%20Pumpkins

  %li
    :textile
      */artists/ARTIST_NAME.json* - will get you json information about an artist
      example: "/artists/Pinback.json":/artists/Pinback.json

  %li
    :textile
      *"/artists.json":/artists.json* - will get you the entire data payload
